body, * {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}


p, h3, a {
  margin-bottom: 12px;
  line-height: 20px;
}

.section {
  margin-bottom: 22px;
}

.padding {
  padding: 40px;
}

.box {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 4px;
  margin-bottom: 12px;
}

.heading {
  margin-bottom: 22px;
  font-size: 24px;
  line-height: 30px;
}

.row {
  display: flex;
}

.row.center {
  align-items: center;
}

.row.space-between {
  justify-content: space-between;
}

.button {
  color: #fff;
  padding: 6px 26px;
  background: #00ffba;
  border-radius: 4px;
  text-decoration: none;
  border: none;
}

.noUnderline {
  text-decoration: none;
}

.gray {
  color: #ccc;
}

.black {
  background: #000;
}

.score {
  color: #00ffba;
  /*font-weight: bold;*/
}

.margin-bottom {
  margin-bottom: 22px;
}

.margin-bottom-small {
  margin-bottom: 12px;
}

.margin-right {
  margin-right: 12px;
}

.margin-left {
  margin-left: 12px;
}

.no-margin {
  margin-bottom: 0;
}
/*.column {*/
  /*display: flex;*/
  /*flex-direction: column;*/
/*}*/

input, textarea, label, select {
  display: block;
  width: 100%;
}

label.inline {
  display: flex;
  white-space: nowrap;
  align-items: center;
}

.disabled {
  color: #ccc;
}

input, textarea, select, option {
  background: none;
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
  box-shadow: none;
}

select {
  height: 32px;
}

.field {
  margin-bottom: 22px;
  width: 100%;
  max-width: 480px;
}

.link {
  color: -webkit-link;
  cursor: auto;
  text-decoration: underline;
  cursor: pointer;
}

.edit {
  color: #00ffba;
}

.delete {
  color: #000;
}

.overlay {
  position: fixed;
  background: rgba(0,0,0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #fff;
  border-radius: 4px;
  width: 100%;
  max-width: 480px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background: #000;
  transform-origin: center;

}

.line:first-of-type {
  transform: translate(0, 1px) rotate(45deg);

}

.line:last-of-type {
  transform: translate(0, -1px) rotate(-45deg);
}

.control {
  border: 1px solid #00ffba;
  border-radius: 4px;
  padding: 2px 6px;
  min-width: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00ffba;
  /*font-weight: 700;*/
  font-size: 20px;
  cursor: pointer;
}

.control.minus {
  color: #000;
  border-color: #000;
}
